body{
    background-color: aquamarine;
}
.box > img{
    height: 250px;
    width: 250px;
    border: 1px solid;
    background-color: rgb(94, 43, 94); /*cores RGB*/
    border: 1px #5e2b5e; /*cores hexadecimais*/
    border: 1px solid hsl(300, 37%, 27%); /*padrão hsl*/
    
}
/*cores*/
c1{
    background-color: #5e2b5e;
}
